.ShopList {
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;

}

@media only screen and (max-width: 750px) {
  .ShopList {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 450px) {
  .ShopList {
    grid-template-columns: auto;
  }
}

